<div class="modal-header bg-primary">
  <h4 class="modal-title">Add Character</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

<div *ngIf="isBusy" class="text-center">
  <div class="spinner-border" role="status">
  </div>
  <span class="sr-only">Loading...</span>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
    <div *ngIf="getControl['name'].touched && getControl['name'].invalid" class="text-danger">
      <!-- <div *ngIf="getControl['name'].errors['required']">Field is required.</div> -->
    </div>
  </div>
  <br>
  <div class="form-group">
    <label>Image Name</label>
    <input type="text" class="form-control" formControlName="image">
    <div *ngIf="getControl['image'].touched && getControl['image'].invalid" class="text-danger">
      <!-- <div *ngIf="getControl['image'].errors['required']">Field is required.</div> -->
    </div>
  </div>
  <br>
  <div class="form-group">
    <label>Powers</label>
    <input type="text" class="form-control" formControlName="powers">
    <div *ngIf="getControl['powers'].touched && getControl['powers'].invalid" class="text-danger">
      <!-- <div *ngIf="getControl['powers'].errors['required']">Field is required.</div> -->
    </div>
  </div>
  <br>
  <br>
  <button class="btn btn-danger btn-block" type="submit">Submit</button>
</form>
</div>
<div class="modal-footer bg-primary">
  <h6>Wyzebot</h6>
</div>
